 {% load static %}
<style>
	input[type=button], input[type=submit], input[type=reset] {
  background-color: #555545;;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=text] {
  font-size: 20px;
  width: 80%;
  padding: 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  background-color: white
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.current{
	background-color: #09D8FF;
}
	.field {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.field {
  background-color: #ddd;
  outline: none;
}
.container {
  padding: 16px;
}
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn:hover {
  opacity:1;
}
*{box-sizing: border-box}
.imgcontainer {
  text-align: center;
  margin: 16px 0 12px 0;
}
img.avatar {
  width: 15%;
  border-radius: 30%;
}
</style>
<div>
<ul>
  <li><a href="/">Home</a></li>
  <li><a class="current">Login</a></li>
  <li><a href="contact.asp">Contact</a></li>
  <li><a href="http://127.0.0.1:8000/register/">Register</a></li>
</ul>
</div>
<div class="container">
  <form method="POST">
  	<div class="imgcontainer">
    <img src="{% static 'calc/img7.png' %}" alt="Avatar" class="avatar">
  	</div>
  	{% if messages %}
  	{% for message in messages %}
  		  <script> M.toast({html: message});</script>
  	{% endfor %}
  	{% endif %}
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        <div class="field">
        	{{ field }}
        </div>
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" class="registerbtn">Sign in</button>
  </form>
  Not registered?<button onclick="window.location.href = 'register/';">Click Here</button>
</div>
